# Data Formatting (numeric and strings)

This is a process where we make sure we have the right data type.

It is important to realize that while you do formatting you may need some messiness in the values may appear that again again require a cleaning of the column.


# Numeric case

Let's start by reading in some data:

In [1]:
from IPython.display import IFrame  
wikiLink1="https://en.wikipedia.org/wiki/List_of_ongoing_armed_conflicts#Deaths_by_country"
IFrame(wikiLink1, width=900, height=500)

That table is showing the top 20 countries with deaths per year from 2016 to 2021. Let's bring it:

In [2]:
import pandas as pd
badCountries = pd.read_html(wikiLink1,flavor='bs4',
                        attrs = {'class': 'wikitable sortable'})
len(badCountries)

5

The table of interes is here:

In [3]:
theTable=badCountries[4]
theTable

                 Rank                   2016[d]                   \
   Unnamed: 0_level_1                   Country           Deaths
0                   1                     Syria            49742
1                   2                    Mexico     23,953*[250]
2                   3                      Iraq            23898
3                   4               Afghanistan            23539
4                   5                   Somalia             5575
5                   6                   Nigeria             4684
6                   7                     Sudan             3891
7                   8               South Sudan             3544
8                   9                     Libya             2865
9                  10                    Turkey             2013
10                 11                  Pakistan  1,803[252][253]
11                 12                     Egypt             1707
12                 13                  DR Congo             1565
13                 14                     Yemen             1375
14                 15                  Ethiopia             1114
15                 16                     India         905[255]
16                 17                   Ukraine              902
17                 18  Central African Republic              623
18                 19                   Burundi              461
19                 20                   Algeria              128

                     2017[e]                                    2018[f]  \
                     Country           Deaths                   Country
0                      Syria            39000               Afghanistan
1                     Mexico          31,174*                    Mexico
2                Afghanistan            23065                     Yemen
3                       Iraq            13187                     Syria
4                    Myanmar           6,700+                      Iraq
5                    Somalia             4969                   Nigeria
6                South Sudan             3528                   Somalia
7                    Nigeria             3432              Saudi Arabia
8                      Sudan             2450                  DR Congo
9                   DR Congo             1857                      Mali
10  Central African Republic             1757               South Sudan
11                     Libya             1564                     India
12                     Egypt             1506                  Cameroon
13                  Ethiopia             1445                  Ethiopia
14               Philippines             1429  Central African Republic
15                     Yemen             1319                  Pakistan
16                  Pakistan  1,269[252][253]                     Libya
17                      Mali              926                  Colombia
18                    Turkey              802                     Sudan
19                     India              700                    Turkey

                       2019[g]                       2020[g]           \
          Deaths       Country   Deaths              Country   Deaths
0          35941   Afghanistan    41735               Mexico  34,512*
1   33,341*[251]        Mexico  35,588*          Afghanistan    20674
2          22201         Yemen    16050                Yemen    19561
3          20130         Syria    11244                Syria     7620
4           4920  Saudi Arabia     4832              Nigeria     7172
5           4850       Somalia     2604             DR Congo     6162
6           3862         Libya   2,200+  Azerbaijan/ Artsakh     6110
7           3509          Iraq   1,850+              Somalia     2950
8           1757          Mali     734+                 Mali     2734
9           1285         Egypt     529+                 Iraq     2436
10          1166   South Sudan      519         Burkina Faso     2268
11      988[254]         India     ~403          South Sudan     2245
12           945      DR Congo     302+             Ethiopia     1813
13           886      Colombia      238           Mozambique     1696
14           842      Cameroon      234                Libya     1484
15      736[256]      Pakistan      206             Cameroon     1447
16           727      Thailand      163          Philippines     1316
17           709       Nigeria      152             Colombia      765
18           600       Ukraine      119                India      783
19           530     Palestine      100              Myanmar      650

                     2021[g]
                     Country Deaths
0              / Afghanistan  42223
1                      Yemen  31048
2                   Ethiopia  22800
3                     Mexico  18811
4                    Myanmar  11114
5                    Nigeria   9687
6                   DR Congo   6283
7                      Syria   5828
8                    Somalia   3532
9                       Iraq   2605
10              Burkina Faso   2358
11               South Sudan   1986
12                      Mali   1911
13  Central African Republic   1704
14                     Sudan   1584
15                     Niger   1454
16                  Colombia   1399
17                Mozambique   1194
18                  Cameroon    790
19                 Palestine    484

The first thing to notice is the column names, which is a multi index:

In [4]:
theTable.columns

MultiIndex([(   'Rank', 'Unnamed: 0_level_1'),
            ('2016[d]',            'Country'),
            ('2016[d]',             'Deaths'),
            ('2017[e]',            'Country'),
            ('2017[e]',             'Deaths'),
            ('2018[f]',            'Country'),
            ('2018[f]',             'Deaths'),
            ('2019[g]',            'Country'),
            ('2019[g]',             'Deaths'),
            ('2020[g]',            'Country'),
            ('2020[g]',             'Deaths'),
            ('2021[g]',            'Country'),
            ('2021[g]',             'Deaths')],
           )

What about this new names?

In [5]:
# concatenate elements

newNames=["_".join((b,a)) for a,b in theTable.columns]
newNames

['Unnamed: 0_level_1_Rank',
 'Country_2016[d]',
 'Deaths_2016[d]',
 'Country_2017[e]',
 'Deaths_2017[e]',
 'Country_2018[f]',
 'Deaths_2018[f]',
 'Country_2019[g]',
 'Deaths_2019[g]',
 'Country_2020[g]',
 'Deaths_2020[g]',
 'Country_2021[g]',
 'Deaths_2021[g]']

In [6]:
# looks better?
betterNames=[n.split('[')[0] for n in newNames]
betterNames

['Unnamed: 0_level_1_Rank',
 'Country_2016',
 'Deaths_2016',
 'Country_2017',
 'Deaths_2017',
 'Country_2018',
 'Deaths_2018',
 'Country_2019',
 'Deaths_2019',
 'Country_2020',
 'Deaths_2020',
 'Country_2021',
 'Deaths_2021']

In [7]:
#Then:
theTable.columns=betterNames
theTable

,Unnamed: 0_level_1_Rank,Country_2016,Deaths_2016,Country_2017,Deaths_2017,Country_2018,Deaths_2018,Country_2019,Deaths_2019,Country_2020,Deaths_2020,Country_2021,Deaths_2021
0,1,Syria,49742,Syria,39000,Afghanistan,35941,Afghanistan,41735,Mexico,"34,512*",/ Afghanistan,42223
1,2,Mexico,"23,953*[250]",Mexico,"31,174*",Mexico,"33,341*[251]",Mexico,"35,588*",Afghanistan,20674,Yemen,31048
2,3,Iraq,23898,Afghanistan,23065,Yemen,22201,Yemen,16050,Yemen,19561,Ethiopia,22800
3,4,Afghanistan,23539,Iraq,13187,Syria,20130,Syria,11244,Syria,7620,Mexico,18811
4,5,Somalia,5575,Myanmar,"6,700+",Iraq,4920,Saudi Arabia,4832,Nigeria,7172,Myanmar,11114
5,6,Nigeria,4684,Somalia,4969,Nigeria,4850,Somalia,2604,DR Congo,6162,Nigeria,9687
6,7,Sudan,3891,South Sudan,3528,Somalia,3862,Libya,"2,200+",Azerbaijan/ Artsakh,6110,DR Congo,6283
7,8,South Sudan,3544,Nigeria,3432,Saudi Arabia,3509,Iraq,"1,850+",Somalia,2950,Syria,5828
8,9,Libya,2865,Sudan,2450,DR Congo,1757,Mali,734+,Mali,2734,Somalia,3532
9,10,Turkey,2013,DR Congo,1857,Mali,1285,Egypt,529+,Iraq,2436,Iraq,2605
10,11,Pakistan,"1,803[252][253]",Central African Republic,1757,South Sudan,1166,South Sudan,519,Burkina Faso,2268,Burkina Faso,2358
11,12,Egypt,1707,Libya,1564,India,988[254],India,~403,South Sudan,2245,South Sudan,1986
12,13,DR Congo,1565,Egypt,1506,Cameroon,945,DR Congo,302+,Ethiopia,1813,Mali,1911
13,14,Yemen,1375,Ethiopia,1445,Ethiopia,886,Colombia,238,Mozambique,1696,Central African Republic,1704
14,15,Ethiopia,1114,Philippines,1429,Central African Republic,842,Cameroon,234,Libya,1484,Sudan,1584
15,16,India,905[255],Yemen,1319,Pakistan,736[256],Pakistan,206,Cameroon,1447,Niger,1454
16,17,Ukraine,902,Pakistan,"1,269[252][253]",Libya,727,Thailand,163,Philippines,1316,Colombia,1399
17,18,Central African Republic,623,Mali,926,Colombia,709,Nigeria,152,Colombia,765,Mozambique,1194
18,19,Burundi,461,Turkey,802,Sudan,600,Ukraine,119,India,783,Cameroon,790
19,20,Algeria,128,India,700,Turkey,530,Palestine,100,Myanmar,650,Palestine,484

We do not have multi index anymore. Let's get rid of the first column too:

In [8]:
theTable.drop(columns=[theTable.columns[0]], inplace=True)
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2016  20 non-null     object
 1   Deaths_2016   20 non-null     object
 2   Country_2017  20 non-null     object
 3   Deaths_2017   20 non-null     object
 4   Country_2018  20 non-null     object
 5   Deaths_2018   20 non-null     object
 6   Country_2019  20 non-null     object
 7   Deaths_2019   20 non-null     object
 8   Country_2020  20 non-null     object
 9   Deaths_2020   20 non-null     object
 10  Country_2021  20 non-null     object
 11  Deaths_2021   20 non-null     int64
dtypes: int64(1), object(11)
memory usage: 2.0+ KB

Notice that the last column *Deaths_2021* has been recognised as a number; while the others have not.

Let's explore attention to 2016:

In [9]:
theTable.Deaths_2016[theTable.Deaths_2016.str.contains(r'\D')]

1        23,953*[250]
10    1,803[252][253]
15           905[255]
Name: Deaths_2016, dtype: object

Let's clean:

In [10]:
byeChars=r'\[\d+\]|\*|,'
theTable.Deaths_2016=theTable.Deaths_2016.str.replace(pat=byeChars,
                                                      repl="",
                                                      regex=True)
theTable

,Country_2016,Deaths_2016,Country_2017,Deaths_2017,Country_2018,Deaths_2018,Country_2019,Deaths_2019,Country_2020,Deaths_2020,Country_2021,Deaths_2021
0,Syria,49742,Syria,39000,Afghanistan,35941,Afghanistan,41735,Mexico,"34,512*",/ Afghanistan,42223
1,Mexico,23953,Mexico,"31,174*",Mexico,"33,341*[251]",Mexico,"35,588*",Afghanistan,20674,Yemen,31048
2,Iraq,23898,Afghanistan,23065,Yemen,22201,Yemen,16050,Yemen,19561,Ethiopia,22800
3,Afghanistan,23539,Iraq,13187,Syria,20130,Syria,11244,Syria,7620,Mexico,18811
4,Somalia,5575,Myanmar,"6,700+",Iraq,4920,Saudi Arabia,4832,Nigeria,7172,Myanmar,11114
5,Nigeria,4684,Somalia,4969,Nigeria,4850,Somalia,2604,DR Congo,6162,Nigeria,9687
6,Sudan,3891,South Sudan,3528,Somalia,3862,Libya,"2,200+",Azerbaijan/ Artsakh,6110,DR Congo,6283
7,South Sudan,3544,Nigeria,3432,Saudi Arabia,3509,Iraq,"1,850+",Somalia,2950,Syria,5828
8,Libya,2865,Sudan,2450,DR Congo,1757,Mali,734+,Mali,2734,Somalia,3532
9,Turkey,2013,DR Congo,1857,Mali,1285,Egypt,529+,Iraq,2436,Iraq,2605
10,Pakistan,1803,Central African Republic,1757,South Sudan,1166,South Sudan,519,Burkina Faso,2268,Burkina Faso,2358
11,Egypt,1707,Libya,1564,India,988[254],India,~403,South Sudan,2245,South Sudan,1986
12,DR Congo,1565,Egypt,1506,Cameroon,945,DR Congo,302+,Ethiopia,1813,Mali,1911
13,Yemen,1375,Ethiopia,1445,Ethiopia,886,Colombia,238,Mozambique,1696,Central African Republic,1704
14,Ethiopia,1114,Philippines,1429,Central African Republic,842,Cameroon,234,Libya,1484,Sudan,1584
15,India,905,Yemen,1319,Pakistan,736[256],Pakistan,206,Cameroon,1447,Niger,1454
16,Ukraine,902,Pakistan,"1,269[252][253]",Libya,727,Thailand,163,Philippines,1316,Colombia,1399
17,Central African Republic,623,Mali,926,Colombia,709,Nigeria,152,Colombia,765,Mozambique,1194
18,Burundi,461,Turkey,802,Sudan,600,Ukraine,119,India,783,Cameroon,790
19,Algeria,128,India,700,Turkey,530,Palestine,100,Myanmar,650,Palestine,484

We have a clean version, but:

In [11]:
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2016  20 non-null     object
 1   Deaths_2016   20 non-null     object
 2   Country_2017  20 non-null     object
 3   Deaths_2017   20 non-null     object
 4   Country_2018  20 non-null     object
 5   Deaths_2018   20 non-null     object
 6   Country_2019  20 non-null     object
 7   Deaths_2019   20 non-null     object
 8   Country_2020  20 non-null     object
 9   Deaths_2020   20 non-null     object
 10  Country_2021  20 non-null     object
 11  Deaths_2021   20 non-null     int64
dtypes: int64(1), object(11)
memory usage: 2.0+ KB

We need a simple step:

In [12]:
theTable.Deaths_2016=pd.to_numeric(theTable.Deaths_2016)
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2016  20 non-null     object
 1   Deaths_2016   20 non-null     int64
 2   Country_2017  20 non-null     object
 3   Deaths_2017   20 non-null     object
 4   Country_2018  20 non-null     object
 5   Deaths_2018   20 non-null     object
 6   Country_2019  20 non-null     object
 7   Deaths_2019   20 non-null     object
 8   Country_2020  20 non-null     object
 9   Deaths_2020   20 non-null     object
 10  Country_2021  20 non-null     object
 11  Deaths_2021   20 non-null     int64
dtypes: int64(2), object(10)
memory usage: 2.0+ KB

Statistics can be obtained when data is in the rigth type:

In [13]:
theTable.describe()

        Deaths_2016   Deaths_2021
count     20.000000     20.000000
mean    7714.350000   8439.750000
std    12752.633657  11541.349236
min      128.000000    484.000000
25%     1061.750000   1551.500000
50%     1908.000000   2481.500000
75%     4906.750000  10043.750000
max    49742.000000  42223.000000

As you see, the other columns were 'rejected'. Of course, you can force the fucntion:

In [14]:
theTable.describe(include='all')

,Country_2016,Deaths_2016,Country_2017,Deaths_2017,Country_2018,Deaths_2018,Country_2019,Deaths_2019,Country_2020,Deaths_2020,Country_2021,Deaths_2021
count,20,20.000000,20,20,20,20,20,20,20,20,20,20.000000
unique,20,NaN,20,20,20,20,20,20,20,20,20,NaN
top,Syria,NaN,Syria,39000,Afghanistan,35941,Afghanistan,41735,Mexico,"34,512*",/ Afghanistan,NaN
freq,1,NaN,1,1,1,1,1,1,1,1,1,NaN
mean,NaN,7714.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8439.750000
std,NaN,12752.633657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11541.349236
min,NaN,128.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,484.000000
25%,NaN,1061.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1551.500000
50%,NaN,1908.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2481.500000
75%,NaN,4906.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10043.750000
max,NaN,49742.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42223.000000

The function **to_numeric** worked because we had a clean column, if that is not the case you will see this:

In [15]:
pd.to_numeric(theTable.Deaths_2017)

ValueError: Unable to parse string "31,174*" at position 1

Python can coerce values in simple situations:

In [16]:
float('20.1')

20.1

In [17]:
# but not this one

float('20.1*')

ValueError: could not convert string to float: '20.1*'

Let's use a loop to detect issues in *Deaths_2017*:

In [18]:
for value in theTable.Deaths_2017:
    try:
        float(value)
    except:
        print(value)

31,174*
6,700+
1,269[252][253]

In [19]:
# or 
theTable.Deaths_2017[theTable.Deaths_2017.str.contains('\D')]

1             31,174*
4              6,700+
16    1,269[252][253]
Name: Deaths_2017, dtype: object

Notice that Pandas uses a **float64** dtype by default after the conversion using **to_numeric**. Consider this difference in memory:

In [20]:
theTable.loc[:,['Deaths_2016','Deaths_2021']].astype('Int32').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Deaths_2016  20 non-null     Int32
 1   Deaths_2021  20 non-null     Int32
dtypes: Int32(2)
memory usage: 328.0 bytes

In [21]:
theTable.loc[:,['Deaths_2016','Deaths_2021']].astype('int32').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Deaths_2016  20 non-null     int32
 1   Deaths_2021  20 non-null     int32
dtypes: int32(2)
memory usage: 288.0 bytes

In [22]:
theTable.loc[:,['Deaths_2016','Deaths_2021']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Deaths_2016  20 non-null     int64
 1   Deaths_2021  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

### Exercise

Clean the remaining columns that are suppossed to have numeric values.